.cardFooter {
  justify-content: space-between;
  align-items: center;
  .languages {
    justify-content: flex-start;
    align-items: center;
    .language {
      font-weight: bold;
      font-size: 12px;
      font-weight: 600;
      word-break: break-word;
    }
    .plus {
      color: var(--color-primary40);
      cursor: pointer;
      &:hover {
        color: var(--color-primary30);
      }
    }
  }
}
