html,
body,
#root {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  background: var(--color-accent30);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
hr {
  width: 100%;
  border: none;
  height: 1px;
  color: var(--color-accent30);
  background-color: var(--color-accent30);
}
/* vars */
$primary40: #0366d6;
$primary30:#2b8fff;
$action40: #2c974b;
$action30: #2a8f47;
$accent40: #24292e;
$accent30: #8e8e8e;
$accent20: #575b5f;
$accent10: #eeeeee;
$warning30: #f6b900;
$warning20: #e7e700;
$white: #fff;
$sizes: (
  none: none,
  xsmall: 4px,
  small: 8px,
  xnormal: 12px,
  normal: 16px,
  xlarge: 24px,
  large: 32px
);
:root {
  @at-root .row {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  @at-root .column {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  /* header 60px === (height: 28px + padding-top: 16px + padding-botton: 16px */
  --header-height: 60px;
  /* colors */
  --color-primary40: #{$primary40};
  --color-primary30: #{$primary30};
  --color-action40: #{$action40};
  --color-action30: #{$action30};
  --color-accent40: #{$accent40};
  --color-accent30: #{$accent30};
  --color-accent20: #{$accent20};
  --color-accent10: #{$accent10};
  --color-warning30: #{$warning30};
  --color-warning20: #{$warning20};
  --color-white: #{$white};
  /* spacing */
  @each $size, $value in $sizes {
    --size-#{$size}: #{$value};
  }
  /* margins */
  @each $size, $value in $sizes {
    @at-root .m-#{$size} {
      margin: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .m-lr-#{$size} {
      margin-left: #{$value};
      margin-right: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .m-tb-#{$size} {
      margin-top: #{$value};
      margin-bottom: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .m-t-#{$size} {
      margin-top: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .m-r-#{$size} {
      margin-right: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .m-b-#{$size} {
      margin-bottom: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .m-l-#{$size} {
      margin-left: #{$value};
    }
  }
  /* padding */
  @each $size, $value in $sizes {
    @at-root .p-#{$size} {
      padding: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .p-lr-#{$size} {
      padding-left: #{$value};
      padding-right: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .p-tb-#{$size} {
      padding-top: #{$value};
      padding-bottom: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .p-t-#{$size} {
      padding-top: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .p-r-#{$size} {
      padding-right: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .p-b-#{$size} {
      padding-bottom: #{$value};
    }
  }
  @each $size, $value in $sizes {
    @at-root .p-l-#{$size} {
      padding-left: #{$value};
    }
  }
}
